a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav {
}
.header-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}
.header-nav li {
    margin-right: 2em;
}
.header-nav .nav-link,
.header-nav .nav-link:visited {
    color: var(--base00);
}

.header--title {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

main {
}

.introduction {
    margin-bottom: 3em;
}

.introduction-title {
    font-size: 1.75rem;
}

.posts {}

.post-list {
    padding: 0;
}

.post-list li {
    list-style: none;
    margin-bottom: 0.75em;
}

.post-list.full-list li {
    display: flex;
    flex-direction: column;
}

.post-list.full-list .description {
    margin-top: 0.25em;
}

.post-article {
}

.post-date {
    font-size: 0.8rem;
}

code {
    padding: 0.1em;
}

pre {
    padding: 0.6em;
    max-width: 100%;
}
pre > code {
    padding: 0;
}

#main-grid--footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em
}

.copy {
    display: inline-block;
}

.see-in-git {
    margin-left: auto;
    margin-right: 1em;
}

/* Mobile */
@media screen and (max-device-width: 579px) {
    .header--title {
        font-size: 2rem;
    }
}
