<footer id="main-grid--footer" class="main-grid--item">
    <span class="copy">&copy; 2021&ndash;2024 Joni Korhonen</span>
${if(git)}
    <a class="see-in-git" href="${git.url}">
        ${git.label}
    </a>
${endif}
</footer>
